@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Lato", sans-serif;
}
h2 {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  list-style: none;
}

input,
button {
  font-family: inherit;
}
input {
  outline: none;
}
